<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Verify Account</title>
</head>
<body>
<div>
    <h1 th:text="${'Welcome ' + account.getName()}"></h1>
    <p>Thank you for signing up to our application. Please click on the link below to verify your email address</p>
    <a th:href="${webServerUrl + '/api/auth/register/verify?token=' + account.getToken()}">Verify Email</a>
</div>
</body>
</html>