<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>UploadSuccess</title>
</head>
<body layout:fragment="content">
<!--show mess-->
<h1>Upload Success</h1>
<!--Show Product Entity-->
<p th:text="'Product Name: '  + ${product.getName()}"></p>
<p th:text="'Product Price: '  + ${product.getPrice()}"></p>
<p th:text="'Product Quantity: '  + ${product.getQuantity()}"></p>
<p th:each="image : ${product.getImages()}">
    <img th:src="${'data:image/png;base64,' + image}" style="max-width: 100px"/>
<!--    <img th:src="@{'data:image/png;base64,' + #strings.encodeBase64(image)}" alt="product_image" style="max-width: 100px">-->
</p>
</body>
</html>