<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>
<header th:fragment="header">
<!--    <nav class="navbar navbar-expand navbar-light bg-light">-->
<!--        <a class="navbar-brand" th:href="@{/}" >Training Java</a>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--            <ul class="navbar-nav mr-auto">-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link" th:href="@{/}">Cart</a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a class="nav-link btn-danger" th:href="@{/logout}">Logout</a>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--    </nav>-->
    <nav class="navbar navbar-dark bg-dark container-fluid">
        <label class="navbar-brand mb-0 h1 px-3 col-xl-8"><a th:href="@{/}" >Training Java</a></label>
        <ul class="navbar-nav col container-fluid">
            <li class="nav-item col ">
                <a class="nav-link" th:href="@{/}">Cart</a>
            </li>
            <li class="nav-item col-auto">
                <a class="btn btn-warning" th:href="@{/logout}">Logout</a>
<!--                <form action="#" th:action="@{/sign-out}" method="POST">-->
<!--                    <button class="btn btn-warning" type="submit">Sign out</button>-->
<!--                </form>-->
            </li>
        </ul>
    </nav>
</header>
</body>

</html>