<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script th:src="@{/static/js/auth/login.js}"></script>
</head>
<body>
<h1>Login</h1>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form id="form-login" method="post" th:action="@{/auth/login-process}" onsubmit="onLoginFormSubmit()">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"/>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"/>
    </div>
    <div>
        <label for="cartProducts">cart Product:</label>
        <input type="text" id="cartProducts" name="cartProducts"/>
    </div>
    <button type="submit">Login</button>
</form>
</body>
</html>