<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Buy Product</title>
    <script th:src="@{/static/js/cart/add-product.js}"></script>
</head>
<body layout:fragment="content"
      onload="onLoadAddProduct();">
<h1>Add Product</h1>
<form th:action="@{/user/cart/add}" method="POST" id="add_form"
      oninput="reloadSubmitBtnByForm(document.getElementById('add_form'), document.getElementById('btn_add_product')); calculateTotalAmount(); reloadAddProductBtnByProductQuantity()"
      onsubmit="onAddFormSubmit()"
>
    <div class="form-group">
        <label for="product_id">Product ID</label>
        <input type="text" class="form-control" id="product_id" name="productId" placeholder="Product ID"
               th:value="${product.getId()}" disabled="disabled">
    </div>
    <div class="form-group">
        <label for="product_name">Product Name</label>
        <input type="text" class="form-control" id="product_name" name="productName" placeholder="Product Name"
               th:value="${product.getName()}" disabled="disabled">
    </div>
    <div class="form-group">
        <label for="product_price">Price</label>
        <input min="0" type="number" class="form-control" id="product_price" name="productPrice"
               placeholder="Product Price" th:value="${product.getPrice()}" disabled="disabled">
    </div>
    <div class="form-group">
        <label for="product_quantity">Product Quantity</label>
        <input min="0" type="number" class="form-control" id="product_quantity" name="quantity"
               placeholder="Product Quantity" value="1">
    </div>
    <div class="form-group">
        <div th:each="image : ${product.getImages()}">
            <img id="product_image" th:value="${image}" th:src="${'data:image/png;base64,' + image}" alt="product_image" style="max-width: 100px">
        </div>
    </div>
    <div class="form-group">
        <label for="cart_product">Cart Product</label>
        <input type="text" class="form-control" id="cart_product" name="cartProduct" placeholder="cartProducts">
    </div>
    <button id="btn_add_product" type="submit" class="btn btn-primary">Buy</button>
</form>
</body>
</html>